

<% layout("/layouts/boilerplate") %>
<link href="/css/performance.css" rel="stylesheet" />



<div class="performance-wrapper">

  <!-- HEADER -->
  <div class="performance-header">
    <h2>Your Performance</h2>
    <p>Track your interview progress and improvement</p>
  </div>

  <!-- STATS -->
  <div class="stats-grid">

  <div class="stat-card">
    <div class="icon blue">📖</div>
    <h2><%=total  %> </h2>
    <p>Total Questions</p>
  </div>

  <div class="stat-card">
    <div class="icon green">🎯</div>
    <h2><%=avgScore  %></h2>
    <p>Average Score</p>
  </div>

  <div class="stat-card">
    <div class="icon orange">🏆</div>
    <h2><%=bestScore  %></h2>
    <p>bestScore</p>
  </div>

</div>

  <!-- ANSWERS -->
  <div class="answers-section">
    <h3>My Answers</h3>

    <% if (answers.length === 0) { %>
      <p class="empty">No answers yet</p>
    <% } %>

    <% answers.forEach(ans => { %>
      <div class="answer-card">

         <p class="aiTag">
          <%= ans.topic %>
         </p>
        <!-- QUESTION -->
        <div class="block">
          <h6> Question ❓</h6>
          <p><%= ans.question %></p>
        </div>

        <!-- ANSWER -->
        <div class="block">
          <h6>📝 Your Answer</h6>
          <p><%= ans.answer %></p>
        </div>

        <!-- FEEDBACK -->
        <div class="block">
          <h6>🤖 AI Feedback</h6>
          <pre><%= ans.feedback %></pre>
        </div>

        <!-- DATE -->
        <small class="date">
          <%= ans.createdAt.toDateString() %>
        </small>

      </div>
    <% }) %>

  </div>

</div>