

<% layout("/layouts/boilerplate") %>
<link href="/css/performance.css" rel="stylesheet" />



<div class="performance-wrapper">

  <!-- HEADER -->
  <div class="performance-header">
    <h2>Your <span>Performance</span></h2>
    <p>Track your interview progress and improvement</p>
  </div>

  <!-- STATS -->
  <div class="stats-grid">

  <div class="stat-card">
    <div class="icon blue">📖</div>
    <h2><%=total  %> </h2>
    <p>Total Questions</p>
  </div>

  <div class="stat-card">
    <div class="icon green">🎯</div>
    <h2><%=avgScore  %></h2>
    <p>Average Score</p>
  </div>

  <div class="stat-card">
    <div class="icon orange">🏆</div>
    <h2><%=bestScore  %></h2>
    <p>bestScore</p>
  </div>

</div>

  <!-- ANSWERS -->
  <div class="answers-section">
  <h3>My Performance</h3>

  <% if (answers.length === 0) { %>
    <p class="empty">No answers yet</p>
  <% } %>

  <% answers.forEach(ans => { %>
    <div class="answer-card">

  <!-- CLICKABLE HEADER -->
  <div class="card-header" onclick="toggleCard(this)">
    <div>
      <span class="topic-tag"><%= ans.topic %></span>
      <h4 class="question"><%= ans.question %></h4>
    </div>

    <div class="right">
      <span class="score"><%= ans.score %>%</span>
      <span class="arrow">⌄</span>
    </div>
  </div>

  <!-- COLLAPSIBLE CONTENT -->
  <div class="card-content">

    <!-- PROGRESS -->
    <div class="progress-bar">
      <div class="progress-fill" style="width:<%= ans.score %>%"></div>
    </div>

    <!-- ANSWER -->
    <div class="section">
      <h6>📝 Your Answer</h6>
      <p><%= ans.answer %></p>
    </div>

    <!-- FEEDBACK -->
   <div class="section">

  <div class="feedback-box green">
    <strong>✔ Strength</strong>
    <p><%= ans.feedback?.strength  %></p>
  </div>

  <div class="feedback-box orange">
    <strong>⚠ Improve</strong>
    <p><%= ans.feedback?.improvement %></p>
  </div>

  <div class="feedback-box blue">
    <strong>⭐ Perfect Answer</strong>
    <p><%= ans.feedback?.perfectAnswer %></p>
  </div>

</div>

    <small class="date"><%= ans.createdAt.toDateString() %></small>

  </div>

</div>

    </div>
  <% }) %>
</div>

</div>





<script>
  function toggleCard(el) {
    const card = el.parentElement;


    document.querySelectorAll(".answer-card").forEach(c => {
      if (c !== card) c.classList.remove("active");
    });

    card.classList.toggle("active");
  }
</script>